1- MAYOR 2

In [131]:
def mayor(a,b):
  if a>b:
    print(f"{a} es el mayor")
  else:
    print(b,"es el mayor")
mayor(4,9)

9 es el mayor

2- MAYOR 3

In [134]:
def mayor(a,b,c):
 if a!=b and a!=c and b!=c:
   if a>b and a>c:
    print(a,"es el mayor")

   if b>a and b>c:
    print(b,"es el mayor")
    
   if c>a and c>b: 
    print(c,"es el mayor")

 else:
  print("No se puede ")

mayor(2,4,1)

4 es el mayor

3-  SUMA 3 NÚMEROS

In [45]:
def sumatotal(suma3):
  total=suma4[0] + suma4[1] + suma4[2] 
  print(total)

suma3=[30,10,6]
sumatotal(suma3)

46

4- SUMA 4 NÚMEROS

In [44]:
def sumatotal(suma4):
  total=suma4[0] + suma4[1] + suma4[2] + suma4[3] 
  print(total)

suma4=[30,10,6,5]
sumatotal(suma4)

51

5- SUMA TODOS LOS NÚMEROS

In [64]:
# otro modo mas sencillo (modo 1) Diego
def sumatotal(suman):
  a=len(suman)
  total=0
  for i in range(0,a):
   total= total + suman[i]
  print("Modo 1", total)

suman=[20,30,10,6,5,3,3,3,8,9,5,2,5,2,4,7,7,7,7,7,7,7,7,6]
sumatotal(suman)

# otro modo mas sencillo (modo 2) Sensei
def sumatotal(suman):
  total=0
  for i in suman:
   total= total + i
  print("Modo 2", total)

suman=[20,30,10,6,5,3,3,3,8,9,5,2,5,2,4,7,7,7,7,7,7,7,7,6]
sumatotal(suman)

Modo 1 177
Modo 2 177

6- MULTIPLICACIÓN 3 NÚMEROS

In [68]:
def multiplicacióntotal(m3):
  total=m3[0] * m3[1] * m3[2] 
  print(total)

m3=[2,10,6]
multiplicacióntotal(m3)

120

7- MULTIPLICACIÓN 4 NÚMEROS

In [71]:
def multiplicacióntotal(m4):
  total= m4[0] * m4[1] * m4[2] * m4[3]
  print(total)

m4=[2,10,6,0]
multiplicacióntotal(m4)

0

8- MULTIPLICACIÓN DE TODOS LOS NÚMEROS

In [77]:
def multiplicacióntotal(mn):
  total=1
  for i in mn:
   total= total * i
  print(total)

mn=[20,7,5]
multiplicacióntotal(mn)

700

9- INVERTIR UN STR

In [86]:
def invertir(p):
  x=len(p)
  x=p[x::-1]
  print(x)

p=str(input("Escibre algo"))
invertir(p)

Escibre algoMUNDIAL EN QATAR
RATAQ NE LAIDNUM

10- CALCULO FACTORIAL

In [104]:
def factorial(n):
  factorial=1
  for i in range(1,n+1):
   factorial= factorial * i
  print("Factorial es:" ,factorial)


n=int(input("Escibre un numero"))
factorial(n)

Escibre un numero5
Factorial es: 120

11- NÚMERO DENTRO DE UN RANGO

In [125]:
def RANGO(número,a,b):
 if a<=número and número<=b:
   print(número,"SI esta dentro del rango")
 else:
   print(número,"NO esta dentro del rango")

número=int(input("ingrese un número"))
print("Ahora da el rango ")
a=int(input("De: "))
b=int(input("a: "))

RANGO(número,a,b)

ingrese un número5
Ahora da el rango
De: 8
a: 10
5 NO esta dentro del rango

14- SOLO PARES

In [120]:
def totalpares(pares):
  w=len(pares)
  for i in range(0,w):
    if pares[i]%2==0: 
       print(pares[i])

pares=[20,2,8,5]
totalpares(pares)

20
2
8

15- POSICIÓN IMPAR

In [117]:
def totalimpares(impares):
  w=len(impares)
  totalimpare=0
  for i in range(0,w,2):
    print(impares[i])

impares=[20,7,8,5,9,8,50]
totalimpares(impares)

20
8
9

17- PALABRA PALÍNDROMO

In [128]:
def invertir(p):
  x=len(p)
  x=p[x::-1]
  if p==x:
    print("Es palíndromo")
  else:
    print("No es palíndromo")

p=str(input("Escibre una palabra"))
invertir(p)

Escibre una palabraDiego
No es palíndromo